//====================================================================================================
.header {
	padding-bottom: rem(3);
	background-color: $bgHeader;
	z-index: 100;

	@media (min-width: ($tablet)) {
		padding-top: rem(10);
		padding-bottom: rem(10);
	}
	@media (max-width: em(640.98)) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
	@media (max-width: em(585.98)) {
		padding-bottom: 1px;
		padding-top: 2px;
	}
	// .header__container
	&__container {
	}
	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		min-height: rem(60);
		@include adaptiveValue("min-height", 60, 20, 998, 635, 1);
		@media (max-width: $mobile) {
			justify-content: space-between;
		}
	}
}
.menu {
	// .menu__body
	&__body {
		@media (min-width: $mobile) {
			display: flex;
			flex: 1 1 auto;
			align-items: center;
		}
		@media (max-width: $mobile) {
			position: fixed;
			overflow: auto;
			width: 100%;
			height: 330px;
			top: 0px;
			right: 0;
			right: -120%;
			background-color: $mainColor; // беграунд всего бургер меню
			padding-top: rem(10);
			padding-bottom: rem(40);
			padding-right: rem(15);
			padding-left: rem(10);
			transition: right 0.3s ease-in;
			z-index: 5;
			&::before {
				content: ""; // Плашка под которой будет меню проезжать
				position: fixed;
				top: 0;
				right: -120%;
				width: 100%;
				min-height: rem(34);
				//background-color: $mainColor;
				transition: right 0.3s ease-in;
			}
			.menu-open & {
				right: 0;
				&::before {
					content: "";
					right: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		//color: #fff;
		@include adaptiveValue("column-gap", 58, 48, 1599, 1000, 1);
		column-gap: rem(58);
		@media (min-width: $mobile) {
			display: flex;
			flex-wrap: wrap;

			row-gap: rem(10);
		}
		@media (max-width: ($tablet)) {
			column-gap: rem(32);
		}
	}
	// .menu__item
	&__item {
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
	// .menu__link
	&__link {
		position: relative;
		font-weight: 500;
		line-height: math.div(22, 16);
		padding-bottom: rem(2);
		@media (max-width: $mobile) {
			font-weight: 400;
			color: $blackBlue;
		}
		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 2.5px;
			bottom: -2.5px;
			border-bottom: 2.5px solid $mainColor;
			left: 0;
			transition: width 0.3s ease-in-out;
		}
		&:hover::before {
			width: 100%;
		}
		&:active {
			color: #f98145ff;
		}
	}
	// .menu__icon
	&__icon {
	}
}
.petstory-online {
	flex: 0 0 rem(82);
	margin-right: rem(63);
	padding: 2px;
	border: 1px solid $mainColor;
	border-radius: 2px;
	transition: color 0.3s ease, opacity 0.3s ease;

	@include adaptiveValue("margin-right", 63, 30, 991, 800, 1);
	@media (max-width: $mobile) {
		//flex: 0 0 rem(46);
		border: none;
	}
	&:hover {
		color: $orange;
		opacity: 0.9;
	}
	// .petstory-online__link
	&__link {
		display: flex;
		font-weight: 400;
		font-size: rem(19);
		line-height: math.div(23, 19);
		text-align: center;
		background: url("../img/bamboo.svg") no-repeat;
		background-position: rem(8) rem(21);
		overflow: hidden;
		@media (max-width: $mobile) {
			font-size: rem(11);
			margin-right: 40px;
			background-position: rem(4) rem(14);
		}
	}
}

.petstory-orange {
	display: none;
	@media (max-width: $mobile) {
		font-size: 15px;
		color: $orange;
		display: inline-block;
		width: 64px;
		height: 42px;
		text-align: center;
		padding: 2px;
		border: 1px solid $orange;
		border-radius: 2px;
		margin-bottom: 31px;
		z-index: 5;
		// .petstory-orange__link
		&__link {
			display: flex;
			font-weight: 400;
			line-height: 120%;
			background: url("../img/bamboo-orange.svg") no-repeat;
			background-position: rem(6) rem(17);
			overflow: hidden;
		}
	}
}

.figma-link {
	position: relative;
	margin-left: rem(15);
	@media (max-width: $mobile) {
		display: none;
	}
	// .figma-link__project
	&__project {
		font-weight: 500;
		line-height: math.div(23, 19);
		padding-bottom: rem(2);
		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 2.5px;
			bottom: -2.5px;
			border-bottom: 2.5px solid $mainColor;
			left: 0;
			transition: width 0.3s ease-in-out;
		}
		&:hover::before {
			width: 100%;
		}
		&:active {
			color: #f98145ff;
		}
	}
}

.figma-links {
	display: none;
	@media (max-width: $mobile) {
		display: block;
	}
	// .figma-links__project
	&__project {
		font-weight: 400;
		line-height: math.div(23, 19);
		padding-bottom: rem(2);

		&:active {
			color: #f98145ff;
		}
	}
}

.js-active {
	color: #f98145ff;
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 18px;
		height: 10px;

		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			border-radius: 2px;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
				background-color: #000;
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
				background-color: #000;
			}
		}
	}
}
.dark._active {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.8);
	z-index: 3;
	top: 0;
	left: 0;
}
